@import "../../../variables.module";

body {
  margin: 0;
  background-color: $background-color;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: $light-grey-color;
  font-weight: 500;
}

svg, img {
  width: 18px;
}

.rightPanelBlock {
  display: flex;
  flex-direction: column;
  color: $yellow-color;
  height: 24px;
  font-weight: 500;

  &Title {
    font-weight: 600;
    padding: 4px;
  }

  &Action {
    display: flex;
    flex-direction: row;
    margin: 4px 8px;
    gap: 10px;

    &Text {
      align-self: center;
    }

    > div {
      margin-top: 2px;
      margin-right: 6px;
    }
  }

  &Action:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.line {
  margin: 0 4px 6px 4px;
  background-color: $yellow-color;
}

.elementsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  div > div > canvas~div {
    position: absolute;
    background: white;
    color: black;
    font-size: 14px;
  }

  .element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: $dark-blue-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    width: 214px;
    padding: 8px;
    margin: 6px;

    .text {
      display: flex;
      flex-direction: column;

      &Id {
        color: $middle-white;
        font-size: 10px;
        margin-top: 4px;
      }
    }

    .switch {
      align-self: start;
    }
  }

  .element:hover {
    cursor: pointer;
    background-color: $hover-yellow-color;
  }
}

.toolbar {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 1px solid $border-color;
  border-radius: 5px;
  margin: 8px 0;
  padding: 6px;
  color: $light-grey-color;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  gap: 12px;

  > div:first-child {
    margin-left: 0;
    padding-right: 0;
  }

  &Extra {
    text-transform: uppercase;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 14px;
    top: 75px;
    left: 29vw;
  }
}

div[class="ant-select-selector"] {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;

  >span {
    color: $light-grey-color !important;
  }
}

span[class="ant-select-arrow"] {
  color: $light-grey-color !important;
}

div[class="ant-select-selector"]:hover {
  border-color: $border-color !important;
}

div[class~="ant-table-wrapper"] {
  width: 100%;
}

div[class~="ant-table"] {
  width: 100%;
  background: transparent !important;
  color: $light-grey-color !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

th[class="ant-table-cell"] {
  background: transparent !important;
  color: $light-grey-color !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  border-bottom: 1px solid $border-color !important;
}

td[class="ant-table-cell"] {
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color !important;
}

td[class="ant-table-cell"]:last-child {
  border-right: none;
}

tr[class~="ant-table-row"]:last-child {
  td{
    border-bottom: none !important;
  }
}

td[class="ant-table-cell ant-table-cell-row-hover"] {
  background: $background-color-opacity !important;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color !important;
}

td[class="ant-table-cell ant-table-cell-row-hover"]:last-child {
  border-right: none !important;
}

.select {
  width: 100%;
  border: 1px solid $light-grey-color;
  border-radius: 8px;

  div[class=ant-select-selector] > span {
    color:$dark-blue-color !important;
  }

  span[class=ant-select-arrow] {
    color: $grey-color !important;
  }
}
