.ant-tree-node-content-wrapper-normal .ant-tree-title {
    display: inline-flex !important;
    justify-content: flex-start !important;
    text-align: left !important;
    min-width: 0;
    max-width: 200px; /* Restrict leave titles so they don't overflow */
    border: 1px solid gray;
}
