$dark-blue-color: rgba(33, 41, 92, 1);
$yellow-color: rgba(255, 227, 163, 1);
$light-yellow-color: rgba(255, 237, 194, 1);
$hover-yellow-color: rgba(255, 227, 163, 0.2);
$light-grey-color: rgba(237, 237, 237, 1);
$background-color: rgba(25, 31, 69, 0.9);
$background-color-opacity: rgba(25, 31, 69, 0.5);
$border-color: rgba(255, 255, 255, 0.3);
$middle-white: rgba(255, 255, 255, 0.5);
$grey-color: rgba(33, 41, 92, 0.5);

:export {
  darkBlueColor: $dark-blue-color;
  yellowColor: $yellow-color;
  lightYellowColor: $light-yellow-color;
  hoverYellowColor: $hover-yellow-color;
  lightGreColor: $light-grey-color;
  backgroundColor: $background-color;
  borderColor: $border-color;
  middleWhite: $middle-white;
  greyColor: $grey-color;
}
