@import "../../../../../variables";

.tagContainer {
  border: 1px solid $middle-white;
  border-radius: 5px;
  margin: 0 0 8px;

  .tagHeader {
    border-bottom: 1px solid $middle-white;
    border-radius: 5px;
    margin: 0 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px;

    .tagName {
      color: $light-yellow-color;
      display: flex;
      flex-direction: row;

      div:last-child {
        margin-left: 6px;
      }
    }

    svg {
      width: 14px;
    }
  }
}

