.editor {
    &__btn-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    &__msg-wrapper {
        margin-top: 10px;
    }

    &__btn {
        &--with-indent {
            margin-right: 7px;
        }
    }

    &__constructor-item {
        display: flex;
        align-items: center;
        width: 440px;
        justify-content: space-between;
        margin: 7px 0;

        &--label {
            width: 22%;
        }
    }
}
