@import "../../../../../variables.module";

.leftPanel {
  width: 22%;
  height: 100%;
  position: relative;;
  background: $dark-blue-color;
  border-right: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
}
