@import "./variables";

.mainTemplate{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 14px);
    position: relative;
}

.header{
    height: 40px;

    background: $dark-blue-color;

    display: flex;
    justify-content: end;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.pageContent {
    display: flex;
    flex-direction: column;
    width: 78%;
    margin-left: 14px;
}

