<div class="active-rule">
    <ng-container *ngFor="let ev of events">
        <p-card class="active-rule__item">
            <ng-template pTemplate="header">
                <div class="active-rule__item--header">
                    <span class="active-rule__item--header-title">{{ev.code}}</span>
                    <app-button routerLink="/events-script/edit/{{ev.code}}" icon="edit"></app-button>
                </div>
            </ng-template>

            <div>EVENT {{ev.code}}</div>
            <div>DESCRIPTION = {{ev.description}}</div>
            <div>TYPE = {{ev.categoryEvent}}</div>
        </p-card>
    </ng-container>
</div>
