@import "../../../../../variables.module";

.systemElementsContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: $dark-blue-color;
    border: 1px solid $border-color;
    border-radius: 5px;
    height: 34px;
    width: 200px;
    padding: 4px;
    margin: 6px;

    .text {
      display: flex;
      flex-direction: column;

      &Id {
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
        margin-top: 4px;
      }
    }
    .switch {
      align-self: start;
    }
  }

  .element:hover {
    background-color: $hover-yellow-color;
  }

  .element:first-child {
    background-color: $yellow-color;
    color: $dark-blue-color;
  }
}
